:root{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    /* CSS HEX */
    --color-principal2: #f8f4e3ff;
    --color-principal: #d4cdc3ff;
    --color-secundario2: #d5d0cdff;  
    --color-secundario: #9a998cff;
    --color-boton: #9a998cff;

    font-family: 'Cutive Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* HEADER */

main{
    min-height: 84vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: var(--color-secundario); 
    height: 8vh; 
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: var(--color-principal);
    min-height: 100vh;
    width: 100%;
}

.menu{
    width: 70vw;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.header>img {
    height: 3rem;
    margin: 1rem;
}

a:hover {
    background-color: var(--color-boton);
    border: 3px solid var(--color-secundario2);
}



/* BANNER */
.banner {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}

.foto-banner{
    width: 100%;
    height: 22vh;
    object-fit: cover;
    background-color: blue;
}

.banner h1 {
    font-size: 3rem;
    margin: 0.2rem;
    text-align: center;
}

.banner h2 {
    font-size: 2rem;
    margin: 0.2rem;
    text-align: center;
}



/* INFORMACION INDEX */
div.productos{
    height: 95%;
    width: 95%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

div.productos img {
    height: 35rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}

div.productos p {
    font-size: 2rem;
    height: 35rem;
    width: 30rem;
    background-color: var(--color-boton);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* INFORMACION ABOUT US */
div.fotos1{
    height: 80%;
    width: 100%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}

div.productos1 p {
    font-size: 2.5rem;
    height: 25rem;
    width: 25rem;
    background-color: var(--color-boton);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div.productos1 img {
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 2rem;
}

/* INFORMACION CONTACT */
div.datos{
    height: 70%;
    width: 100%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.productos4 img {
    height: 25rem;
    width: 35rem;
    object-fit: cover;
    border-radius: 2rem;

}

div.productos4 p {
    font-size: 2rem;
    height: 15rem;
    width: 35rem;
    background-color: var(--color-boton);
    border-radius: 2rem;
    text-align: center;
}

div.contactos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactos a{
    font-size: 1.8rem;
    height: 2.3rem;
    width: 20rem;
    text-align: center;
    background-color: var(--color-boton);
    border-radius: 2rem;
    margin: 2rem;
}


/* TABLA */

.service{
    display: flex;
    justify-content: center;
}

table,tr,th,td {
    border: 2px solid black;
    background-color: var(--color-boton);
    text-align: center;
    height: 4rem;
    border-collapse: collapse;
}


/* RATING */

.div-rating {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
}

.cont-principal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-boton);
    width: 90%;
    border-radius: 2rem;
    margin-bottom: 3rem;

}

.cont-estrellas{
    width: 40%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.cont-estrellas img{
    width: 100%;
}

div.cont-estrellas ul{
    width: 100%;
    list-style-position: inside;
}

/* HIRE */

div.contratacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    background-color: var(--color-secundario);
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
}

.mapas{
    display: flex;
    flex-direction: column;
    width: 90%;

}

textarea{
    resize: none;
    height: 3rem;
}




/* FOOTER */

footer{
    background-color: var(--color-secundario);
    height: 8vh;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 767px){
    
    .header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 35vh;
    }

    .banner>h2{
        font-size: 1.5rem;
    }

    .menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* INDEX */

    div.productos{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 90%;
        
    }

    div.productos p{
        font-size: 0.9rem;
        width: 90%;
        height: 40vh;
    }

    div.productos img{
        width: 90%;
    }

    /* ABOUT US */

    div.fotos1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.productos1 p{
        font-size: 0.9rem;
        width: 90%;
        height: 40vh;
    }

    /* CONTACT US */

    div.datos{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8rem;
        width: 70%;
    }

    div.contactos{
        display: flex;
        flex-direction: column;
    }
    div.contactos a{
        font-size: 0.9rem;
        width: 70vw;
    }

    div.datos img{
        width: 80vw;
    }

    div.datos p{
        font-size: 0.9rem;
        width: 80vw;
    }




    /* RATING */

    .sec-rating {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .cont-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--color-boton);
        width: 90%;
        border-radius: 2rem;
        margin-bottom: 3rem;
        object-fit: cover;

    }

    .cont-principal img{
        width: 100%;
    }

    div.cont-estrellas{
        width: 90%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* TABLA */
    div.service{
        font-size: 0.7rem;
        /* background-color: blue; */
    }
    /* HIRE */
    div.contratacion{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    iframe{
        width: 100%;
    }


}




/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1023px){

    .header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }

    .banner>h2{
        font-size: 1.5rem;
    }

    .menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main{
        min-height: 84vh;

    }

    div.productos{
        flex-direction: column-reverse;
        
    }

    div.productos p{
        font-size: 1.6rem;
        max-width: 70%;
        height: 90%;
    }

    div.productos img{
        max-width: 70%;
    }

    div.productos1 p{
        font-size: 1.6rem;
        max-width: 70%;
        height: 90%;
    }

    /* CONTACT US */
    div.contactos{
        display: flex;
        flex-direction: column;
    }

    /* RATING */

    .sec-rating {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .cont-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--color-boton);
        width: 90%;
        border-radius: 2rem;
        margin-bottom: 3rem;

    }

    .cont-estrellas{
        width: 90%;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* HIRE */
    div.contratacion{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    iframe{
        width: 100%;
    }
}